body{
  font-family:calibri;
  margin:0;
}
nav{

}

h1,h2{
  text-align:center;
}

h1{
  font-size:4em;
  color:red;
}
nav{





}

ul{
  list-style:none;
  padding:0;
  display:flex;
  justify-content:space-evenly;

}
ul:hover{
  font-size: 1.2em;
  transition: 0.6s ease;
  }
  li{
    color:white;
  }
