body{
  font-family:calibri;
}

h1,h2{
  text-align:center;
}

h1{
  font-size:9em;
  color:red;
}
navbarNav{
  padding:2
  display:flex;
  justify-content: space-evenly;
}
.carousel-inner > .item > img {
  width:640px;
  height:360px;
}
ul{
  list-style:none;
  padding:0;
  display:flex;
  justify-content:space-evenly;
}
ul:hover{
  font-size: 1.2em;
  transition: 0.6s ease;
  }
