body{
  font-family:calibri;
  margin:0;
}
.height-500px{
  height:500px;
}
#heading{
  position:absolute;
  top:150px;
  z-index:100;
  width:100%;
  padding: 0 auto;
}

.youtube{
  display:flex;
  justify-content: center;
}
form{
  padding-left:100px;
  padding-right:100px;
}

div.media{
  padding-left:100px;
}

h1,h2{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align:center;
  font-size:5em;
  color:white;
  text-shadow: -1px 0 black,0 1px black,1px 0 black, 0 -1px black;
}


nav{
positio




}carousel{

}


rigacarousel{

}

ul{
  list-style:none;
  padding:0;
  display:flex;
  justify-content:space-evenly;

}
ul:hover{
  font-size: 1.2em;
  transition: 0.6s ease;
  }
  li{
    color:white;
  }
